*{
    margin: 0;
    padding: 0;
    
}

body{
   font-family: 'Montserrat', sans-serif;
}

.header{
    padding: 40px;
    height: 100px;
    width: 100%;
    box-sizing: border-box;
}
.menu{
    height: 100px;
    background-color: #ffffff;
    box-shadow: 00px 4px 7px 0px #81818140;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu__ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    text-decoration: none;
    border: none;
    padding-left: 40px;    
      
}    
.menu__li {
    
    display: flex;
    justify-content: space-between;
    justify-content: flex-start;
    
    
}
/* .menu__li:last-child a {
    margin-right: 0;
  } */
.menu__link {
    color: #000000;
    font-weight: 300;
    font-size: 16px;
    margin: 0; /* Обнуляем значение отступов */
    text-decoration: none;
    margin: 0 10px;
    flex-wrap: wrap;
  }
  
.menu__link:hover {
    color: #05a88d;
  }
/* .active a{
    color: #05A88D;

} */
.menu__logo{
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.015em;
    text-decoration: none;
    color: #05A88D;
    margin: auto;
    text-transform: uppercase;
    font-weight: 700; 
}
.menu__signup{
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    margin: 70px;
    padding: 13px 22px ;
    border: 1px solid #05A88D;
    border-radius: 3px;
    text-decoration: none;
    color: #05A88D;
}
.menu__login{
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    margin: 70px;
    letter-spacing: -0.015em;
    text-decoration: none;
    color: #05A88D;
}

